<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../includes/head.ejs') %>
  </head>
  <body>
    <% if (errorMessage) { %>
    <div class="user-message user-message--error"><%= errorMessage %></div>
    <% } %>
    <form action="/login" method="POST">
      <div class="item-field">
        <label for="email">Email:</label>
        <input type="email" name="email" size="64" maxlength="64" />
      </div>
      <div class="item-field">
        <label for="password">Password:</label>
        <input type="password" name="password" size="16" maxlength="16" />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
    </form>
    <div>
      <a href="/reset">Reset Password</a>
    </div>
  </body>
</html>
