<div id="banner">
    <div class="product-info-area">
      <h1 class="product-info-text"><i class="fab fa-app-store-ios"></i> rcanite Inventory Solutions</h1>
    </div>
    <div class="user-login-info-area">
      <% if (!loggedIn) { %>
      <% } else { %>
        <h3 class="user-login-info-text show-whitespace">
          Logged in as <%= userEmail %>    
        </h3>
      <% } %>
    </div>
    <div class="loginLogoutLink">
      <% if (!loggedIn) { %>
        <a href="/login">Login</a>
      <% } else { %>
        <form action="/logout" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button type="submit" class="btn btn-primary">Logout</button>
            </form>
      <% } %>    
    </div>
    <div class="signupLink">
      <form action="/signup" method="POST">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button type="submit" class="btn btn-primary signup-btn">Sign up</button>
        </form>
    </div>
  </div>