<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title><%= pageTitle %></title>
<link rel="stylesheet" href="/css/main.css" />
<!-- Font Awesome link -->
<script
  src="https://kit.fontawesome.com/6dd5a532d9.js"
  crossorigin="anonymous"
></script>
