<li><a href="" class="">Inventory Increase</a></li>
<li><a href="" class="">Inventory Decrease</a></li>
<li><a href="" class="">Inventory Transfer</a></li>
<li><a href="" class="">Physical Invetory</a></li>
