<li><a href="/inventory/item-maintenance" class="active">Item Maintenance</a></li>
<li><a href="/inventory/add-item" class="">Add Item</a></li>
<li><a href="/items/it" class="">Inventory Transaction</a></li>
<li><a href="/inventory/warehouse-setup" class="">Warehouse Setup</a></li>
<li><a href="/inventory/uom-setup" class="">Unit of Measure Setup</a></li>
<li><a href="/inventory/category-setup" class="">Category Setup</a></li>