<li><a href="/reports/printPDF/StockStatus" class="active">Stock Status</a></li>
<li><a href="" class="">--</a>
<li><a href="" class="">More reports coming soon...</a>
<!-- <li><a href="/reports/open-so" class="">Open Sales Orders</a></li>
<li><a href="/reports/open-po" class="">Open Purchase Orders</a></li>
<li><a href="/reports/transaction-history" class="">Transaction History</a></li>
<li><a href="/reports/sales-history" class="">Sales History</a></li> -->