<div class="viewMessage">
    <h6 class="viewMessageText">Please view this with a resolution wider than 1024px for the designed user experience.</h6>
    <h6 class="viewMessageText">(This was designed for desktop and will be ported to an iOS and Android app using Flutter.)</h6>
    <h6 class="viewMessageText">Thank you!</h6>
</div>