<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <div id="banner">
      <div class="product-info-area">
        <h1 class="product-info-text">[O] Inventory Solutions</h1>
      </div>
      <div class="user-login-info-area">
        <h3 class="user-login-info-text show-whitespace">Logged in as DUMMY USER, DUMMY COMPANY NAME,  <a href="#" class="user-login-info__log-out-btn">Log Out</a></h6>
      </div>
    </div>
    <div id="main-menu">
      <div id="navbar">
        <ul>    
          <li><a href="/" class="">Dashboard</a></li>      
          <li><a href="/so" class="">Sales Orders</a></li>
          <li><a href="/po" class="">Purchase Orders</a></li>
          <li><a href="/inventory" class="active">Inventory</a></li>
          <li><a href="/reports" class="">Reports</a></li>
          <li><a href="/sysconfig" class="">System Config</a></li>
        </ul>
      </div>
      <div id="sub-menu">
        <ul>          
          <%- include('../includes/items-submenu.ejs') %>
        </ul>
      </div>
    </div>
    <h1>This is the edit-item.ejs page</h1>
    <div>
      <h1 class="">Item Info</h1>
      
      <main>
          <form action="/edit-item"method="POST">
            <div>
                <label for="description">Description</label>
                <input type="text" name="description" id="description" value="<% item.description %>">
            </div>
            <div>
                <label for="category">Category</label>
                <input type="text" name="category" id="category" value="<% item.category %>">
            </div>
            <div>
                <label for="totalQtyOnHand">Total Qty On Hand</label>
                <input type="text" name="totalQtyOnHand" id="totalQtyOnHand" value="<% item.totalQtyOnHand %>">
            </div>
            <div>
                <label for="uom">UOM</label>
                <input type="text" name="uom" id="uom" value="<% item.uom %>">
            </div>
            <div>
                <label for="avgCost">avgCost</label>
                <input type="text" name="avgCost" id="avgCost" value="<% item.avgCost %>">
            </div>
            <div>
                <label for="retailPrice">retailPrice</label>
                <input type="text" name="retailPrice" id="retailPrice" value="<% item.retailPrice %>">
            </div>
            <button class="btn" type="submit">Edit Item</button>
        </form>
      </main>
    </div>
  </body>
</html>