<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <div id="banner">
      <div class="product-info-area">
        <h1 class="product-info-text">[O] Inventory Solutions</h1>
      </div>
      <div class="user-login-info-area">
        <h3 class="user-login-info-text show-whitespace">Logged in as DUMMY USER, DUMMY COMPANY NAME,  <a href="#" class="user-login-info__log-out-btn">Log Out</a></h6>
      </div>
    </div>
    <div id="main-menu">
      <div id="navbar">
        <ul>          
          <li><a href="" class="">Sales Orders</a></li>
          <li><a href="" class="">Purchase Orders</a></li>
          <li><a href="" class="">Inventory</a></li>
          <li><a href="" class="">Reports</a></li>
          <li><a href="" class="">System Config</a></li>
          <li><a href="" class="">Items</a></li>
          <li><a href="" class="">Inventory Adjustment</a></li>
          <li><a href="" class="">Bill of Materials</a></li>
        </ul>
      </div>
      <div id="sub-menu">

      </div>
    </div>
    
    <div class="workspace">        
    </div>
  </body>
</html>
