<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <div id="banner">
      <div class="product-info-area">
        <h1 class="product-info-text">[O] Inventory Solutions</h1>
      </div>
      <div class="user-login-info-area">
        <h3 class="user-login-info-text show-whitespace">Logged in as DUMMY USER, DUMMY COMPANY NAME,  <a href="#" class="user-login-info__log-out-btn">Log Out</a></h6>
      </div>
    </div>
    <div id="main-menu">
      <div id="navbar">
        <ul>          
          <li><a href="" class="">Sales Orders</a></li>
          <li><a href="" class="">Purchase Orders</a></li>
          <li><a href="" class="">Inventory Transactions</a></li>
          <li><a href="" class="">Reports</a></li>
          <li><a href="" class="">System Config</a></li>
          <li><a href="" class="active">Items</a></li>
          <li><a href="" class="">Inventory Adjustment</a></li>
          <li><a href="" class="">Bill of Materials</a></li>
        </ul>
      </div>
      <div id="sub-menu">
        <ul>          
          <%- include('../includes/items-submenu.ejs') %>
        </ul>
      </div>
    </div>
    
    <div id="workspace">
      <div id="toolbar">
        <h1>Item Maintenance</h1>
      </div>
      <form action="">
        <div class="item-field">
          <label for="itemID">Item ID:</label>
          <input type="text" name="itemID" value="">
        </div>
        <div class="item-field">
          <label for="itemStatus">Item Status:</label>
          <input type="text" name="itemStatus" value="">
        </div>
        <div class="item-field">
          <label for="description">Description:</label>
          <input type="text" name="description" value="">
        </div>
        <div class="item-field">
          <label for="category">Category:</label>
          <input type="text" name="category" value="">
        </div>
        <div class="item-field">
          <label for="valuationMethod">Valuation Method:</label>
          <form>
            <select id="valuationMethod" name="valuationMethod">
            <option value="avg">Average Cost</option>
            <option value="fifo">FIFO</option>
            <option value="lot">LOT</option>
            </select>
          </form>
        </div>
        <div class="item-field">
          <label for="type">Type:</label>
          <form>
            <select id="type" name="type">
            <option value="finishedGood">Finished Good</option>
            <option value="rawMaterial">Raw Material</option>
            <option value="serivce">Service</option>
            </select>
          </form>
        </div>
        <div class="item-field">
          <label for="defaultWarehouse">Default Warehouse:</label>
          <input type="text" name="defaultWarehouse" value="">
        </div>
        <hr>
        <h6>Unit of Measure</h6>
        <div class="item-field">
          <label for="baseUOM">Base UOM:</label>
          <input type="text" name="baseUOM" value="">
        </div>
        <div class="item-field">
          <label for="salesUOM">Sales UOM:</label>
          <input type="text" name="salesUOM" value="">
        </div>
        <div class="item-field">
          <label for="purchaseUOM">Purchase UOM:</label>
          <input type="text" name="purchaseUOM" value="">
        </div>
        
      </form>
    </div>
  </body>
</html>
