<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../includes/head.ejs') %>
  </head>
  <body>
    <div id="banner">
      <div class="product-info-area">
        <h1 class="product-info-text">[O] Inventory Solutions</h1>
      </div>
      <div class="user-login-info-area">
        <h3 class="user-login-info-text show-whitespace">
          Logged in as DUMMY USER, DUMMY COMPANY NAME,
          <a href="#" class="user-login-info__log-out-btn">Log Out</a>
        </h3>
      </div>
    </div>
    <div id="main-menu">
      <div id="navbar">
        <ul>
          <li><a href="/" class="active">Dashboard</a></li>
          <li><a href="/so" class="">Sales Orders</a></li>
          <li><a href="/po" class="">Purchase Orders</a></li>
          <li><a href="/inventory" class="">Inventory</a></li>
          <li><a href="/reports" class="">Reports</a></li>
          <li><a href="/sysconfig" class="">System Config</a></li>
        </ul>
      </div>
      <div id="sub-menu">
        <ul>
          <%- include('../includes/blank-submenu.ejs') %>
        </ul>
      </div>
    </div>

    <div id="workspace">
      <h1>index page</h1>
    </div>
  </body>
</html>
