<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/login" method="POST">
        <div class="item-field">
            <label for="email">Email:</label>
            <input
              type="email"
              name="email"
              size="64"
              maxlength="64"
            />
          </div>
          <div class="item-field">
            <label for="password">Password:</label>
            <input
              type="password"
              name="password"
              size="16"
              maxlength="16"
            />
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>
</html>