<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../includes/head.ejs') %>
  </head>
  <body>
    <%- include('../includes/banner.ejs') %>
    <div id="main-menu">
      <div id="navbar">
        <ul>
          <li><a href="/" class="">Dashboard</a></li>
          <li><a href="/so" class="">Sales Orders</a></li>
          <li><a href="/po" class="">Purchase Orders</a></li>
          <li><a href="/inventory/item-maintenance" class="">Inventory</a></li>
          <li><a href="/reports" class="">Reports</a></li>
          <li><a href="/sysconfig" class="active">System Config</a></li>
        </ul>
      </div>
      <div id="sub-menu">
        <ul>
          <%- include('../includes/sysconfig-submenu.ejs') %>
        </ul>
      </div>
    </div>

    <div id="workspace">
      <h1>sysconfig homepage</h1>
    </div>
  </body>
</html>
