<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../includes/head.ejs') %>
  </head>
  <body>
    <%- include('../includes/banner.ejs') %>
    <div id="main-menu">
      <%- include('../includes/navbar.ejs') %>
      <div id="sub-menu">
        <ul>
          <%- include('../includes/sysconfig-submenu.ejs') %>
        </ul>
      </div>
    </div>

    <div id="workspace">
      <h1>sysconfig homepage</h1>
    </div>
  </body>
</html>
