html {
  height: 100%;
}

.login-page {
  background-image: linear-gradient(black, rgb(34, 34, 34));
  background-position: center;
  background-repeat: no-repeat;
  color: rgb(243, 242, 242);
}

.centered {
  text-align: center;
}

.v-centered {
  margin-top: 15%;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

li {
  margin: 1rem;
}

.login-resetPassword {
  margin: 0.25rem;
}

.login-resetPassword a {
  color: rgb(0, 132, 255);
}

.login-resetPassword a:hover {
  color: rgb(0, 183, 255);
}

.login-button {
  margin: 0.75rem;
}

.login-password {
  margin: 0.75rem;
}

.login-roles {
  margin-top: 5rem;
}

#emailLabel {
  margin-right: 220px;
}

#passwordLabel {
  margin-right: 180px;
}

#signup-emailInput {
  margin-right: 230px;
}

#signup-passwordInput {
  margin-right: 200px;
}

#signup-confirmPassword {
  margin-right: 145px;
}

#signup-signupBtn {
  margin: 0.4rem;
}

.signup-login-redirect {
  margin-top: 3rem;
}

.signup-login-redirect a {
  color: rgb(0, 132, 255);
}

.signup-login-redirect a:hover {
  color: rgb(0, 183, 255);
}

.login-projectName {
  margin-bottom: 3rem;
}
