body {
  margin: 10px 100px 10px 100px;
  background-color: #c5c6c7;
  font-family: Arial, Helvetica, sans-serif;
}

#banner {
  width: 90%;
  margin: auto;
  /* background-image: linear-gradient( 180deg, rgb(153, 153, 153), rgb(0, 0, 0) ); */
  background-color: #c5c6c7;
  height: 125px;
  display: flex;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.product-info-area {
  display: flex;
  margin-left: 30px;
}

.product-info-text {
  font-family: Arial, Helvetica, sans-serif;
  /* color: white; */
  color: #1f2833;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-login-info-area {
  display: flex;
  margin-left: 100px;
  margin-right: 350px;
}

.user-login-info-area2 {
  margin-left: 2rem;
}



.user-login-info-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: #1f2833;
  display: flex;
  align-items: center;
}

.user-login-info__log-out-btn {
  color: #081fa3;
  font-size: 1rem;
}

.user-login-info__log-out-btn:hover {
  color: rgb(25, 94, 90);
  font-size: 1rem;
}

.show-whitespace {
  white-space: pre;
}

#navbar {
  display: flex;
  width: 98%;
  margin: auto;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

#navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

div#navbar li {
  color: white;
  float: left;
  margin-right: 2px;
}

div#navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  border: 2px solid black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  /* background-image: linear-gradient(180deg, #45a29e, #1f2833); */
  background-image: linear-gradient(180deg, #0060df, #1f2833);
}

div#navbar li a:hover {
  background-image: linear-gradient(180deg, #00a0df, #1f2833);
}

div#navbar li .active {
  color: #1f2833;
  font-weight: 700;
  border: 2px solid #1f2833;
  background-image: none;
  /* background-color: #c5c6c7; */
  /* background-color: #079ff7; */
  background-image: linear-gradient(180deg, #06a4ff, #00c3ca);
}

#sub-menu {
  display: flex;
  /* width: 100%; */
  margin: auto;
  border: 2px solid rgb(99, 100, 100);
  border-top-right-radius: 10px;
  border-top-left-radius: 6px;
  background-image: linear-gradient(180deg, rgb(132, 133, 134), #c5c6c7);
}

#sub-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

div#sub-menu li {
  color: white;
  float: left;
}

div#sub-menu li a {
  display: block;
  padding: 5px;
  color: #0b0c10;
  text-align: center;
  text-decoration: none;
  border: 1px solid rgb(79, 79, 80);
  background-image: linear-gradient(180deg, rgb(132, 133, 134), #c5c6c7);
}

div#sub-menu li a:hover {
  background-image: linear-gradient(180deg, rgb(221, 223, 224), #c5c6c7);
}

#workspace {
  padding-left: 20px;
  background-color: #c5c6c7;
  border: 2px solid rgb(99, 100, 100);
  /* height: 650px; */
  min-height: 600px;
}

.item-field {
  margin-bottom: 5px;
}

.hide-button {
  visibility: hidden;
}

.inventory-toolbar {
  display: flex;
  margin: 30px 0 30px 0;
}

.inventory-toolbar-items {
  display: flex;
  align-items: center;
  margin: 5px;
}

.green-background {
  background-color: rgb(91, 247, 19);
}

.yellow-background {
  background-color: yellow;
}

td {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
}

/* color palette */
#colors {
  color: #0b0c10, #1f2833, #c5c6c7, #66fcf1, #45a29e;
}

.loginLogoutLink {
  margin: 1rem;
  padding-top: 2.2rem;
  margin-left: 500px;
}

.signupLink {
  margin-top: 1rem;
  padding-top: 2.2rem;
}

.user-message {
  margin: auto;
  margin-bottom: 1rem;
  width: 25%;
  border: 1px solid darkblue;
  padding: 0.5rem;
  border-radius: 3px;
  background-color: lightseagreen;
  text-align: center;
}


.user-message--error {
  border: 1px solid red;
  background-color: rgb(255, 143, 143);
  color: red;
}

.invalid {
  border-color: red;
}

.centered {
  justify-content: center;
}

.centered-text {
  text-align: center;
}

.flex {
  display: flex;
}

.options-setup--leftCol {
  width: 50%;
  margin-left: 250px;
}

.options-setup--rightCol {
  width: 50%;
}

.inventory-setup--leftCol {
  width: 50%;
  margin-left: 200px;
}

.inventory-setup--rightCol {
  width: 50%;
}
.inventory-setup--rightCol-overflow {
  height: 250px;
  overflow: auto;
}

.items-table {
  margin: 2rem;
}

.items-table td {
  text-align: center;
  padding-right: .4rem;
  padding-left: .4rem;
}

#uomFieldsRight {
  width: 50%;  
}

#uomFieldsLeft {
  width: 50%;
}

.layoutBorder {
  border: red solid 1px;
}

.signup-btn {
  width: 70px;
}

#lotCostDetails {
  overflow: scroll;
  height: 200px;
  margin-right: 2rem;
}

.updateCancelBtns {
  margin: 1rem;
  text-align: right;
}

.item-message {
  margin-top: 1rem;
}

.items-search-menu {
  height: 600px;
  overflow: scroll;
}

.editWhsBtnUpdate {
  margin-bottom: 1rem;
}