.billingInfo {
    display: block;
}

.shippingInfo {
    display: block;
}

#poTable {
    width: 95%;
}

td {
    padding: 0 1rem;
    padding: .15rem;
}

.poTableLine {
    width: 5%;
    text-align: center;
    background: darkgray;
}

.poTableItemNum {
    width: 10%;
    text-align: center;
}

.poTableDescription {
    width: 47%;
    text-align: left;
    padding-left: 1.2rem;
}

.poTableFocus:focus {
    background: white;
}

.poTableQuantity {
    width: 10%;
    text-align: right;
    padding-right: 1rem;
}

.poTableUOM {
    width: 5%;
    text-align: center;
}

.poTableCost {
    width: 10%;
    text-align: right;
    padding-right: 1rem;
}

.poTableExtended {
    width: 10%;
    text-align: right;
    padding-right: 1rem;
}

.poTableDeleteBtn {
    width: 3%;
    text-align: center;
}

.poSum {
    margin-left: 1rem;
}

.poSumLabel {
    margin-left: 84%;
}

.poBtns {
    height: 20px;
    margin: 1.7% 1rem;

}

.poArrowSearchBtnLeft {
    margin: 1.5rem 1rem 0 3rem;
}

.poArrowSearchBtnRight {
    margin: 1.5rem 1rem 0 0;
}

.poStatusText {
    margin-left: 2rem;
}

#vendorSelection {
    margin-bottom: 1rem;
}

.poSelectFields {
    margin-right: 1rem;
}

#poLineDeleteBtn {
    color: rgb(173, 0, 0);
    margin: auto;
}

#poLineDeleteBtn:hover {
    color: red;
}