.billingInfo {
  display: block;
}

.shippingInfo {
  display: block;
}

#poTable {
  width: 95%;
}

td {
  padding: 0 1rem;
  padding: 0.15rem;
}

.poTableLine {
  width: 5%;
  text-align: center;
  background: darkgray;
}

.poTableLineHeader {
  width: 5%;
  text-align: center;
}

.poTableItemNum {
  width: 10%;
  text-align: center;
}

.poTableDescription {
  width: 47%;
  text-align: left;
  padding-left: 1.2rem;
}

.poTableFocus:focus {
  background: white;
}

.poTableQuantity {
  width: 10%;
  text-align: right;
  padding-right: 1rem;
}

.poTableUOM {
  width: 5%;
  text-align: center;
}

.poTableCost {
  width: 10%;
  text-align: right;
  padding-right: 1rem;
}

.poTableExtended {
  width: 10%;
  text-align: right;
  padding-right: 1rem;
}

.poTableDeleteBtn {
  width: 3%;
  text-align: center;
}

.poSum {
  margin-left: 1rem;
}

.poSumLabel {
  margin-left: 84%;
}

.poBtns {
  height: 20px;
  margin: 1.7% 1rem;
}

.poArrowSearchBtnLeft {
  margin: 1.5rem 1rem 0 3rem;
}

.poArrowSearchBtnRight {
  margin: 1.5rem 1rem 0 0;
}

.poStatusText {
  margin-left: 2rem;
}

#vendorSelection {
  margin-bottom: 1rem;
}

.poSelectFields {
  margin-right: 1rem;
}

#poLineDeleteBtn {
  color: rgb(173, 0, 0);
  margin: auto;
}

#poLineDeleteBtn:hover {
  color: red;
}

#poSaveBtn {
  margin-left: 89%;
  margin-bottom: 3rem;
}

.fixed_header tbody {
  display: block;
  overflow: auto;
  /* height:200px;
    width:100%; */
}

/* .fixed_header thead tr{
    display:block;
  } */

#poTableHeaders {
  width: 95%;
}

.poLineScroll {
  height: 200px;
  overflow: auto;
}

.optionSection {
  margin: auto;
  width: 80%;
  border: 2px solid black;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 2rem;
}

.optionTable {
  height: 225px;
  overflow: auto;
  width: 80%;
}

.optionTableEle {
  width: 90%;
  text-align: center;
}

.bottom-margin {
  margin-bottom: 0.5rem;
}

.overflow-auto {
  overflow: auto;
}

/* The vendorModal (background) */
.vendorSearchModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 200px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* vendorModal Content */
.vendorSearchModal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
}

/* The vendorModal Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#vendorSelectionTable {
  margin: auto;
  width: 80%;
  text-align: center;
}

.vendorSelectHeading {
  text-align: center;
  margin-bottom: 2rem;
}

.poActionBtns {
  text-align: right;
  margin: 1rem 3rem;
}

/* The itemModal (background) */
.itemSearchModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 200px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* itemModal Content */
.itemSearchModal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
}

/* The itemModal Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#itemSelectionTable {
  margin: auto;
  width: 80%;
  text-align: center;
}

.itemSelectHeading {
  text-align: center;
  margin-bottom: 2rem;
}

.poActionBtns {
  text-align: right;
  margin: 1rem 3rem;
}

.itemSearchFilter {
  display: flex;
  margin: auto;
  justify-content: center;
  margin-bottom: 1rem;
  height: 1.5rem;
}

.itemSearchFilter h5 {
  margin-top: 0;
  padding-top: .2rem;
}

.itemSearchFilter > * {
  margin-right: 1rem;
}

#itemSelectionTable button {
  margin-left: 5px;
  margin-bottom: .6rem;
}

/* #itemSelectionTable th {
  display: flex;
} */

.sortBtn {
  padding: 0 3px;
}

/* poSearchModal */

/* The poModal (background) */
.poSearchModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 200px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* poModal Content */
.poSearchModal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
}

#poUpdateBtn {
  margin-left: 89%;
  margin-bottom: 3rem;
}