<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../includes/head.ejs') %>
  </head>
  <body>
    <%- include('../../includes/banner.ejs') %>
    <div id="main-menu">
      <div id="navbar">
        <ul>
          <li><a href="/" class="">Dashboard</a></li>
          <li><a href="/so" class="">Sales Orders</a></li>
          <li><a href="/po" class="">Purchase Orders</a></li>
          <li><a href="/inventory" class="active">Inventory</a></li>
          <li><a href="/reports" class="">Reports</a></li>
          <li><a href="/sysconfig" class="">System Config</a></li>
        </ul>
      </div>
      <div id="sub-menu">
        <ul>
          <%- include('../../includes/items-submenu.ejs') %>
        </ul>
      </div>
    </div>
    <h1>This is the edit-item.ejs page</h1>
    <div>
      <h1 class="">Item Info</h1>

      <main>
        <form action="/edit-item" method="POST">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <div>
            <label for="description">Description</label>
            <input
              type="text"
              name="description"
              id="description"
              value="<% item.description %>"
            />
          </div>
          <div>
            <label for="category">Category</label>
            <input
              type="text"
              name="category"
              id="category"
              value="<% item.category %>"
            />
          </div>
          <div>
            <label for="totalQtyOnHand">Total Qty On Hand</label>
            <input
              type="text"
              name="totalQtyOnHand"
              id="totalQtyOnHand"
              value="<% item.totalQtyOnHand %>"
            />
          </div>
          <div>
            <label for="uom">UOM</label>
            <input type="text" name="uom" id="uom" value="<% item.uom %>" />
          </div>
          <div>
            <label for="avgCost">avgCost</label>
            <input
              type="text"
              name="avgCost"
              id="avgCost"
              value="<% item.avgCost %>"
            />
          </div>
          <div>
            <label for="retailPrice">retailPrice</label>
            <input
              type="text"
              name="retailPrice"
              id="retailPrice"
              value="<% item.retailPrice %>"
            />
          </div>
          <button class="btn" type="submit">Edit Item</button>
        </form>
      </main>
    </div>
  </body>
</html>
