<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/purchaseOrder.css" />
  </head>
  <body>

    
      
      
      
     

     
            
    
        
        
      
    
    

     
      

      

      

      
    

    <script src="/js/purchaseOrder.js"></script>
  </body>
</html>
